.btn {
  display: inline-block;

  font-size: 0.75rem;
  line-height: 0.687rem;
  font-weight: 500;
  color: var(--color-boulder);

  background-color: transparent;
  border: none;

  user-select: none;
  cursor: pointer;
  
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.btn:focus:not(:focus-visible) {
  outline: 0;
}

.btn.active {
  color: var(--color-malibu);
}
