.header {
  background: var(--color-white);
  box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.05);
}

.inner {
  display: grid;
  grid-template-columns: 11rem 7.4rem 58rem 5.6rem 21.5rem;
  justify-content: space-between;
  align-items: center;
  grid-template-rows: 5rem;
  padding: 25px 0;
}

.logo {
  cursor: pointer;
}

.nav {
}

.icons-wrapper {
  display: flex;
  align-items: center;

  line-height: 0.5rem;
}

.social-network-icon:not(:last-child) {
  margin-right: 1.5rem;
}

// @media (max-width: 767px) {
//   .social-network-icon:not(:last-child) {
//     margin-right: 2rem;
//   }
// }
