@import "../../../assets/styles/var";

.button {
  position: relative;

  display: flex;
  justify-content: flex-end;
  height: 3rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.937rem;

  border: none;
  border-radius: 1.562rem;

  transition: all $delay;

  cursor: pointer;

  span {
    position: absolute;
    left: 0.4rem;
    top: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.375rem;
    height: 2.375rem;

    border-radius: 2.5rem;

    transition: all $delay;
  }
}

.leave {
  width: 13.437rem;

  padding: 1rem 1.187rem 1rem 1.187rem;

  color: var(--color-malibu);

  background: var(--color-white);
  border: 1px solid #b1e2ff;

  span {
    background: linear-gradient(213.88deg, #b1e2ff -67.78%, #68c7ff 175.48%);
  }
}

.button.contact {
  justify-content: center;
}
.contact {
  width: 15rem;

  padding: 1rem 1.187rem 1rem 2.187rem;

  color: #ffffff;

  background: linear-gradient(213.88deg, #b1e2ff -67.78%, #68c7ff 175.48%);

  span {
    background: linear-gradient(322.12deg, #b1e2ff 1.25%, #68c7ff 89.56%);

    transform: matrix(-1, 0, 0, 1, 0, 0);

    svg {
      transform: inherit;
    }
  }

  &:hover {
    background: linear-gradient(213.88deg, #c6eaff -67.78%, #81d0ff 175.48%);
    box-shadow: 0px 0px 25px rgba(146, 214, 255, 0.5);

    transition: all $delay;

    span {
      background: linear-gradient(322.12deg, #b1e2ff 36.44%, #68c7ff 89.56%);

      transition: all $delay;
    }
  }

  &:active,
  &:focus {
    background: linear-gradient(213.88deg, #86d2ff -67.78%, #47bbff 175.48%);

    span {
      background: inherit;

      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}
