@import "../../assets/styles/var";

.icon {

  cursor: pointer;

  transition: all $delay ease;
}

.icon-call:hover,
.icon-inst:hover,
.icon-fb:hover,
.icon-telegram-big:hover,
.icon-youtube:hover,
.icon-letter:hover,
.icon-telegram-small:hover {
  stroke: #c6eaff;
  box-shadow: 0 0 2.5rem rgba(146, 214, 255, 0.5);

  transition: all $delay ease;

  cursor: pointer;
}
